@font-face {
   font-family: 'dusha';
   src: url('assets/dusha.ttf');
}

@font-face {
   font-family: 'aller';
   src: url('assets/aller.ttf');
}

h1 
   {
   margin-top: 0;
   font-family: 'dusha';
   color:#d20a11;
   
   }

h2 
   {
   font-family: 'dusha';
   color: #d20a11;
   margin-top: 3px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   }

header
   {
   padding: 0.5em;
   clear: left;
   text-align: left;
   height: 100px;
   }
#logo
   {
   float: right;
   height: 100px;

   }

#plot
{
   float: right;
   margin-bottom: 5px;

}
#barchart
{
   float: left;
   width: 500px;
   margin-right: 20px;


}
.get {
   padding: 0.5em;

} 

